.inter {
    font-family: "Inter", sans-serif; 
    font-optical-sizing: auto; 
    font-weight: 799; 
    font-style: normal; 
    font-variation-settings: "slnt" 0; 
}
.inter2 {
    font-family: "Inter", sans-serif; 
    font-optical-sizing: auto; 
    font-weight: 475; 
    font-style: normal; 
    font-variation-settings: "slnt" 0; 
}
.roboto {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
#container {
    display: flex;
    align-items: center; 
    padding: 5px 20px;
    justify-content: space-between;
    height: 90px;
}
#logo img {
    margin-top: 55px;
    margin-left: 30px;
    width: 150px; 
    height: 150px; 
}
#title-nav-container {
    display: flex;
    align-items: center;
    width: 150%;
    justify-content: space-between;
}
#title-nav-container, .boxes-container {
    overflow: hidden;
}

#title {
    font-size: 35px;
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
    margin-top: 60px;
}
#title::after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 10px;
    height: 100%;
}



#navigation {
    margin-top: 35px;
}
#navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}
#navigation ul li {
    position: relative;
    display: inline-block;
    margin-right: 50px;
}
#navigation a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    display: inline-block;
    transition: font-size 0.3s ease, font-weight 0.3s ease;
}
.underscore::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease;
}

.underscore:hover::after {
    width: 100%; 
}


#apply {
    margin-top: 30px;
    margin-right: 30px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
#heading {
    font-size: 60px;
    text-align: center;
    margin-top: 75px;
}
.boxes-container {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}
#left-box {
    width: 30%; 
    margin-left: 55px;
    margin-top: 10px;
    font-size: 24px;
}
#right-box {
    margin-left: 40px;
    margin-top: 0;
    display: flex;
    justify-content: top; 
    align-items: top; 
}
#left-box img {
    width: 70px; 
    height: auto; 
    margin-right: 15px;
}
#right-box img {
    padding-top: 45px;
    padding-left: 60px;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 400px;
}
#clubSummary {
    text-align: center; 
}
#Socials {
    margin-top: 100px;
    font-size: 30px;
}
.social img {
    width: 150px;
    height: 150px;
    margin: 10px;
}

/* Typing Animation CSS */
.typing-animation {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgb(255, 255, 255);
    animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
    position: relative;   
}

.fade-in{
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.fade-in.active{
    opacity: 1;
}


.slide-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease-in-out, transform 1.5s ease-in-out;
}

.slide-in.active {
    opacity: 1;
    transform: translateY(0); 
}

.hidden {
    opacity: 0;
    transform: translateY(20px); 
    transition: all 0.6s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.hidden-nav {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.show-nav {
    transform: translateX(0);
    opacity: 1;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
#org{
    font-size: 45px;
    padding: none;
}
#org-subtext {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    font-style: oblique;
    font-weight: 50;
}
@keyframes fadeInBlur {
    0% {
        opacity: 0;
        transform: translateX(50px);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}


.social img {
    width: 80px;
    height: auto;
    margin: 15px;
    opacity: 0; 
}

.fade-in-blur {
    animation: fadeInBlur 1s ease forwards;
}



#learn{
    margin-top: 100px;
}

#subsection {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px 0;
    font-size: 31;
}


.box {
    background-color: #ffffff;
    border-radius: 20px;
    height: 450px;
    width: 350px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(-50px); 
    transition: opacity 0.8s ease, transform 0.8s ease, filter 0.8s ease;
    filter: blur(5px); 
    padding-bottom: 1px;
}

.box img {
    width: 100%; 
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.box p {
    padding: 0 20px; 
}

.box a {
    display: block;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: 10px; 
}




.show .box {
    opacity: 1;
    transform: translateX(0); 
    filter: blur(0); }

.box-button {
    position: absolute; 
    bottom: 20px; 
    left: 20%; 
    transform: translateX(-50%); 
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box-link{
    display: block;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin-bottom: 10px;
}

.box-button:hover{
    background-color: #004499;
}

.list{
    font-size: 20px;
    font-style: bold;
    color: #004499;
}

.fade-in-blur {
    animation: fadeInBlur 1s ease forwards;
}

#sponsors{

    margin-top: 150px;
}

.sponsor-images {
    display: flex;
    justify-content: center;
    gap: 40px;
}


.sponsor-images img {
    width: 150px; 
    height: 150px; 
    object-fit: contain; 
    opacity: 0; 
    transition: opacity 0.3s ease-in, transform 0.3s ease-in, filter 0.3s ease-in;
    margin: 0 10px; 
}
.fade-in-blur {
    animation: fadeInBlur 1s ease forwards;
}

#colorstack {
    
    width: 350px;
    height: 150px;
}

#shpe {
    
    width: 350px;
    height: 150px;
}

#shield {
   
    width: 150px;
    height: 150px;
}

footer {
    margin-top: 100px;
    background-color: #000;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#copyright {
    margin: 0; 
    padding: 0; 
    border-bottom: 1px solid transparent; 
}

#contact {
    margin: 0;
    padding: 0; 
    
}


.email-link {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.email-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease;
}

.email-link:hover::after {
    width: 100%; 
}

#organization {
    margin-top: 10px; 
    text-align: left; 
}

@media (max-width: 767px) {
    .typing-animation {
        white-space: nowrap; 
        overflow: hidden; 
        border-right: 2px solid rgb(255, 255, 255);
        animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
    }
    
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
    
    @keyframes blink-caret {
        from, to {
            border-color: transparent;
        }
        50% {
            border-color: black; 
        }
    }
    #container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #logo img {
        margin: 20px 0;
    }
    #title {
        font-size: 24px;
        text-align: center;
        margin: 20px 0;
    }
    #title-nav-container {
        flex-direction: column;
        align-items: center;
    }
    #navigation {
        margin-top: 20px;
    }
    #navigation ul {
        flex-direction: column;
    }
    #navigation ul li {
        margin: 10px 0;
    }
    #apply {
        margin: 20px 0;
    }
    #heading {
        font-size: 36px;
        margin-top: 40px;
    }
    .boxes-container {
        flex-direction: column;
        align-items: center; 
        margin-left: 0;
        margin-right: 0;
    }

    .box {
        width: 80%; 
        height: 400px; 
        margin-bottom: 20px; 
        text-align: left;
        padding-bottom: 15px;
        margin-left: 35px;
    }

    .box img {
        height: 200px; 
    }

    .box p {
        padding: 0 20px;
    }

    .box-button {
        position: static; 
        margin-top: 20px;
        margin-left: 20px; 
        transform: none;
    }
    #left-box, #right-box {
        width: 80%;
        margin: 10px 0;
    }
    #right-box img {
        max-width: 100%;
        max-height: 300px;
    }
    .social img {
        width: 20px;
    }
    #subsection {
        flex-direction: column;
        gap: 20px;
    }
  
    .sponsor-images {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .sponsor-images img {
        width: 100px;
        height: 100px;
    }
    footer {
        padding: 10px 0;
    }
    .footer-content {
        flex-direction: column;
    }
    #clubSummary{
        text-align: center;
    }
}


    

